@font-face font-family: Montserrat
	src: local("Montserrat"), url(../fonts/montserrat/Montserrat-Regular.ttf)

@font-face
	font-family: Proxima Nova
	src: local("Proxima Nova"), url(../fonts/Proxima_Nova/Proxima-Nova-Regular.otf)

@font-face
	font-family: Roboto
	src: local("Roboto"), url(../fonts/roboto/Roboto-Regular.ttf);
