@font-face font-family: Montserrat
	src: local("Montserrat"), url(../fonts/montserrat/Montserrat-Regular.ttf)

@font-face
	font-family: Proxima Nova
	src: local("Proxima Nova"), url(../fonts/Proxima_Nova/Proxima-Nova-Regular.otf)

@font-face
	font-family: Roboto
	src: local("Roboto"), url(../fonts/roboto/Roboto-Regular.ttf);
html, body {
  height: 100%;
  margin: 0;
  font-family: Montserrat; }

header .hero-container {
  height: 600px;
  position: relative;
  overflow: hidden; }
  header .hero-container .hero-image {
    width: 100%; }
  header .hero-container .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 150px;
    right: 150px; }
    header .hero-container .content .navigation {
      text-transform: uppercase;
      padding: 0 70px;
      display: flex;
      flex-flow: row wrap;
      height: 80px; }
      header .hero-container .content .navigation .logo-block {
        display: flex; }
        header .hero-container .content .navigation .logo-block .logo {
          align-self: center;
          font-family: Proxima Nova;
          color: #ffffff;
          padding-right: 30px;
          border-right: 1px solid rgba(97, 118, 118, 0.2);
          font-size: 37px;
          font-weight: 700;
          line-height: 1; }
        header .hero-container .content .navigation .logo-block .telephone {
          align-self: center;
          padding-left: 30px;
          color: #ffffff;
          font-size: 17px;
          font-weight: 500; }
          header .hero-container .content .navigation .logo-block .telephone .icon img {
            width: 19px;
            height: 19px;
            display: inline-block;
            vertical-align: sub; }
      header .hero-container .content .navigation .nav-block {
        margin-left: auto;
        display: flex;
        flex-flow: row wrap;
        font-size: 16px;
        color: #ffffff;
        font-weight: 700; }
        header .hero-container .content .navigation .nav-block ul {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex; }
          header .hero-container .content .navigation .nav-block ul li {
            display: inline-block;
            align-self: center;
            padding: 0 15px; }
        header .hero-container .content .navigation .nav-block button.get-started {
          padding: 10px;
          background-color: rgba(125, 142, 142, 0.5);
          border-radius: 3px;
          text-transform: uppercase;
          height: 36px;
          margin: auto;
          border: 0;
          color: #ffffff;
          font-weight: 700;
          margin-left: 15px; }
    header .hero-container .content .title-block {
      display: flex;
      height: 520px;
      padding: 0 170px; }
      header .hero-container .content .title-block .container {
        margin: auto;
        color: #ffffff;
        text-align: center; }
        header .hero-container .content .title-block .container .title {
          font-family: Roboto;
          font-size: 50pt; }
        header .hero-container .content .title-block .container .hero-button {
          padding: 15px;
          background-color: #6fb048;
          text-transform: uppercase;
          border-radius: 3px;
          border: 0;
          color: #ffffff;
          font-weight: 500;
          margin-top: 20px; }

.main-content .about-us {
  padding: 70px 70px 100px 70px;
  text-align: center;
  font-family: Roboto; }
  .main-content .about-us .first-row {
    padding: 0 180px;
    display: flex;
    flex-direction: column; }
    .main-content .about-us .first-row .title {
      font-size: 32pt;
      color: #0f5f5c; }
    .main-content .about-us .first-row .bottom-line {
      width: 60px;
      border-bottom: 1px solid #6fb048;
      margin: auto;
      margin-top: 15px; }
    .main-content .about-us .first-row .description {
      font-size: 15pt;
      color: #83a7a5;
      margin-top: 40px; }
  .main-content .about-us .second-row {
    padding-top: 80px;
    margin: 0 70px;
    display: flex;
    justify-content: space-between; }
    .main-content .about-us .second-row .item {
      width: 30%; }
      .main-content .about-us .second-row .item .icon {
        height: 64px; }
      .main-content .about-us .second-row .item .title {
        color: #0f5f5c;
        font-size: 16pt;
        padding-top: 20px; }
      .main-content .about-us .second-row .item .description {
        color: #8daeac;
        font-size: 14pt;
        padding-top: 20px; }

.main-content .our-team {
  padding: 70px 100px 100px 100px;
  text-align: center;
  font-family: Roboto;
  background-color: #eef1ec; }
  .main-content .our-team .first-row {
    padding: 0 180px;
    display: flex;
    flex-direction: column; }
    .main-content .our-team .first-row .title {
      font-size: 32pt;
      color: #0f5f5c; }
    .main-content .our-team .first-row .bottom-line {
      width: 60px;
      border-bottom: 1px solid #6fb048;
      margin: auto;
      margin-top: 15px; }
    .main-content .our-team .first-row .description {
      font-size: 15pt;
      color: #83a7a5;
      margin-top: 40px; }
  .main-content .our-team .second-row {
    padding-top: 80px;
    margin: 0 70px;
    display: flex;
    justify-content: space-between;
    text-align: left; }
    .main-content .our-team .second-row .item {
      width: 30%; }
      .main-content .our-team .second-row .item .avatar img {
        width: 100%; }
      .main-content .our-team .second-row .item .name {
        color: #0f5f5c;
        font-size: 15pt;
        padding-top: 5px; }
      .main-content .our-team .second-row .item .position {
        color: #8daeac;
        font-size: 14pt;
        padding-top: 5px; }

.main-content .wapik-action {
  height: 200px;
  color: #ffffff;
  overflow: hidden;
  position: relative; }
  .main-content .wapik-action img {
    height: 100%; }
  .main-content .wapik-action .wapik-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 140px;
    right: 140px;
    flex-flow: row wrap;
    display: flex; }
    .main-content .wapik-action .wapik-content .description {
      align-self: center; }
      .main-content .wapik-action .wapik-content .description .title {
        font-size: 28pt; }
      .main-content .wapik-action .wapik-content .description .sub-title {
        font-size: 15pt; }
    .main-content .wapik-action .wapik-content .wapik-download {
      align-self: center;
      margin-left: auto;
      padding: 15px 20px;
      text-transform: uppercase;
      background-color: #49732f;
      font-size: 13pt;
      height: 50px;
      color: #ffffff;
      border: 0;
      border-radius: 3px; }

footer {
  padding: 100px 140px 10px 140px; }
