@import "fonts";

//colors and fonts
$white: #ffffff;
$nav-button-color: rgb(196,203,203);
$montserrat: "Montserrat";
$proxima-nova-bold: "Proxima Nova Bold";
$roboto: "Roboto";
$roboto-light: "Roboto Light";
$roboto-medium: "Roboto Medium";

html, body {
	height: 100%;
	margin: 0;
	font-family: $montserrat;
}

@import "header";
@import "content";
@import "footer";