@import "fonts";

//colors
$white: #ffffff;

html, body {
	height: 100%;
	margin: 0;
	font-family: "Montserrat";
}

header {
	.hero-container {
		height: 600px;
		position: relative;
		overflow: hidden;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background-color: rgba(32,77,79, 0.75);
			background-image: linear-gradient(to bottom, #234847 0%, transparent 20%);
		}

		.hero-image {
			width: 100%;
		}
		.content {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 150px;
			right: 150px;

			.navigation {
				text-transform: uppercase;
				padding: 0 70px;
				display: flex;
				//flex-direction: row;
				flex-flow: row wrap;
				height: 80px;

				.logo-block {
					display: flex;

					.logo {
						align-self: center;
						font-family: "Proxima Nova Bold";
						color: $white;
						padding-right: 30px;
						border-right: 2px solid rgba(124, 138, 138, 0.6);
						font-size: 26px;
						font-weight: 700;
						line-height: 0.8;
					}
					.telephone {
						align-self: center;
						padding-left: 30px;
						color: $white;
						font-size: 12px;
						font-weight: 500;

						.icon {
							width: 12px;
							height: 12px;
							img {
								width: inherit;
								height: inherit;
								display: inline-block;
								vertical-align: middle;
							}
						}
					}
				}
				.nav-block {
					margin-left: auto;
					display: flex;
					flex-flow: row wrap;
					font-size: 12px;
					color: $white;
					font-weight: 300;

					ul {
						list-style: none;
						margin: 0;
						padding: 0;
						display: flex;
						
						li {
							display: inline-block;
							align-self: center;
							padding: 0 15px;
							&.active {
								font-weight: 700;
							}
						}
					}
					button.get-started {
						padding: 7px 10px;
						background-color: rgba(125,142,142,0.9);
						border-radius: 3px;
						text-transform: uppercase;
						height: 30px;
						margin: auto;
						border: 0;
						color: $white;
						font-size: 12px;
						font-weight: 700;
						margin-left: 15px;
						&:hover {
							cursor: pointer;
						}
					}
				}
			}
			.title-block {
				display: flex;
				height: 520px;
				padding: 0 170px;

				.container {
					margin: auto;
					color: $white;
					text-align: center;

					.title {
						font-family: "Roboto Light";
						font-size: 46px;
					}

					.hero-button {
						padding: 15px 25px;
						background-color: rgb(111,176,72);
						text-transform: uppercase;
						border-radius: 3px;
						border: 0;
						color: $white;
						font-weight: 500;
						font-size: 14px;
						margin-top: 30px;
						&:hover {
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}
.main-content {
	.about-us {
		padding: 70px 70px 100px 70px;
		text-align: center;
		font-family: "Roboto";
		.first-row {
			padding: 0 180px;
			display: flex;
			flex-direction: column;
			.title {
				font-family: "Roboto Light";
				font-size: 36px;
				color: rgb(15,95,92);
			}
			.bottom-line {
				width: 70px;
				border-bottom: 1px solid rgb(111,176,72);
				margin: auto;
				margin-top: 15px; 
			}
			.description {
				font-size: 17px;
				color: rgb(131,167,165);
				margin-top: 40px;
			}
		}
		.second-row {
			padding-top: 80px;
			margin: 0 70px;
			display: flex;
			justify-content: space-between;
			.item {
				width: 30%;
				.icon {
					height: 64px;
				}
				.title {
					color: rgb(15,95,92);
					font-size: 20px;
					padding-top: 20px;
				}
				.description {
					color: rgb(141,174,172);
					font-size: 17px;
					padding-top: 20px;
				}
			}
		}
	}
	.our-team {
		padding: 70px 100px 100px 100px;
		text-align: center;
		font-family: "Roboto";
		background-color: rgb(238,241,236);
		.first-row {
			padding: 0 180px;
			display: flex;
			flex-direction: column;
			.title {
				font-family: "Roboto Light";
				font-size: 36px;
				color: rgb(15,95,92);
			}
			.bottom-line {
				width: 70px;
				border-bottom: 1px solid rgb(111,176,72);
				margin: auto;
				margin-top: 15px; 
			}
			.description {
				font-size: 17px;
				color: rgb(131,167,165);
				margin-top: 40px;
			}
		}
		.second-row {
			padding-top: 80px;
			margin: 0 70px;
			display: flex;
			justify-content: space-between;
			text-align: left;
			.item {
				width: 30%;
				.avatar {
					font-size: 0px;
					img {
						width: 100%;
					}
				}
				.name {
					color: rgb(15,95,92);
					font-family: "Roboto Medium";
					font-size: 16px;
					padding-top: 10px;
				}
				.position {
					color: rgb(141,174,172);
					font-size: 15px;
					padding-top: 3px;
				}
			}
		}
	}
	.wapik-action {
		font-family: "Roboto";
		height: 200px;
		color: $white;
		overflow: hidden;
		position: relative;
		img {
			height: 100%;
		}
		.wapik-content {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 140px;
			right: 140px;
			flex-flow: row wrap;
			display: flex;
			.description {
				align-self: center;
				.title {
					font-family: "Roboto Light";
					font-size: 26px;
				}
				.sub-title {
					font-size: 15px;
			    padding-top: 3px;
				}
			}
			.wapik-download {
				align-self: center;
				margin-left: auto;
				padding: 10px 20px;
				text-transform: uppercase;
				background-color: rgb(73,115,47);
				font-family: "Montserrat";
				font-size: 14px;
				height: 40px;
				color: $white;
				border: 0;
				border-radius: 3px;
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}
footer {
	padding: 100px 140px 10px 140px;
}