<footer>
	<div class="first-row">
		<div class="item">
			<div class="title big">Wapik</div>
			<ul>
				<li><span>@: </span><span class="bold">hi@wapik.com</span></li>
				<li><span>p: </span><span>+62 202 555 0117</span></li>
				<li><span>a: </span><span>610 Overlook Circle Suite 323 Kalamazoo, MI 49009</span></li>
			</ul>
		</div>
		<div class="item">
			<div class="title">Company</div>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Pricing</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
		<div class="item">
			<div class="title">Others</div>
			<ul>
				<li><a href="#">Help & Support</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Terms</a></li>
				<li><a href="#">Sitemap</a></li>
			</ul>
		</div>
		<div class="item">
			<div class="title">Newsletter</div>
			<span class="subscribe-text">Subscribe to our newsletter and get all the cool news</span>
			<span class="subscribe-input"><input type="text" name="subscribe" placeholder='Enter Email'></span>
		</div>
	</div>
	<div class="second-row">
		<div class="left-side">
			All rights reserved 2015
		</div>
		<div class="right-side">
			<ul>
				<li><a href="#twitter"><span class="twitter"></span></a></li>
				<li><a href="#facebook"><span class="facebook"></span></a></li>
				<li><a href="#instagram"><span class="instagram"></span></a></li>
				<li><a href="#dribbble"><span class="dribbble"></span></a></li>
				<li><a href="#github"><span class="github"></span></a></li>
			</ul>
		</div>
	</div>
</footer>