<header>
	<div class="hero-container">
		<div class="content">
			<div class="navigation">
				<div class="logo-block">
					<span class="logo">Wapik</span>
					<span class="telephone">
						<span class="icon"><img src="images/phone.png"></span>
						<a href="tel:+622025550117" class="number">+62 202 555 0117</a>
					</span>
				</div>
				<div class="nav-block">
					<ul id="topNav" class="topnav">
						<li><a href="#home">Home</a></li>
						<li><a href="#about-us">About us</a></li>
						<li><a href="#pricing">Pricing</a></li>
						<li><a href="#contact-us">Contact us</a></li>
						<li class="icon">
							<a href="#" onclick="toogleNavigation(); return false;">☰</a>
						</li>
					</ul>
					<button class="get-started">Get started</button>
				</div>
			</div>
			<div class="title-block">
				<div class="container">
					<div class="title">Cras justo odio, dapibus ac facilisis in egestas eget quam</div>
					<button class="hero-button">Start your free trial</button>
				</div>
			</div>
		</div>
	</div>
</header>